.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 24px;
  min-height: 100vh;
  background-color: #3B5152;
}

.pageTitle {
  font-weight: 500;
  color: #E6E6D1;
}

.selector {
  width: 100%;
}

.optionWrapper {
  display: flex;
  flex-direction: column;
}

.optionLabel {
  font-weight: 600;
  color:#e7e7e0;
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.resultsWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.resultsTitle {
  font-size: 20px;
  font-weight: 600;
  color:#e7e7e0;
}

.result {
  font-size: 15px;
  font-weight: 400;
  color:#E6E6D1;
}